* {
  box-sizing: border-box;
}
body {
  background-color: rgb(41, 47, 54);
  color: white;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
}
a {
  color: white;
}
.header-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 15px;
}
h1 {
  font-size: 53px;
}
#search {
  padding: 15px;
  border-radius: 15px;
}
