* {
  box-sizing: border-box;
}
.body-background {
  background-image: url('/images/say-dhpiee8rkTo-unsplash.jpg');
  color: white;
  display: flex;
  height: 69vh;
  align-items: stretch;
  justify-content: space-between;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: black;
  text-decoration: none;
  font-size: 21px;
  line-height: 2;
}
.header-list {
  width: 50%;
}
.list-box {
  background-color: white;
  border-radius: 15px;
  width: 25%;
}
.list-box::after {
  content: ' ';
  position: absolute;
  top: 66%;
  height: 37px;
  width: 24.7%;
  right: 10px;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg')
    bottom;
  background-size: 73%;
}

ul {
  list-style-type: none;
  padding: 15px;
}
h1 {
  font-size: 53px;
}
#search {
  padding: 15px;
  border-radius: 15px;
}
